@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.CourseViewModel

@{
    ViewData["Title"] = $"{Model.TitleAndLevel} - apprenticeship training course";
    if (Model.AfterLastStartDate)
    {
        ViewData["Description"] = $"The apprenticeship training course {Model.TitleAndLevel} is no longer available.";
    }
    else
    {
        ViewData["Description"] = $"Employers can view details of the {Model.TitleAndLevel} apprenticeship training course, including its qualification level, typical duration and the maximum funding available.";
    }

}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (!Model.AfterLastStartDate)
            {
                @if (Model.LastDateStarts.HasValue)
                {
                    <div class="das-notification das-notification--information">
                        <p class="das-notification__body">
                            @Model.TitleAndLevel is available for new starts until @Model.LastDateStarts.Value.ToString("d MMM yyyy").
                        </p>
                    </div>
                }
                <span class="govuk-caption-xl">Apprenticeship training course</span>
                <h1 class="govuk-heading-xl">
                    @Model.Title <span class="das-no-wrap">(level @Model.Level)</span>
                </h1>
                <p class="govuk-body-l">@Model.OverviewOfRole</p>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Level</dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Level <br />
                            <span class="govuk-!-font-size-16 das-text--muted">
                                Equivalent to @Model.LevelEquivalent
                            </span>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Typical duration</dt>
                        <dd class="govuk-summary-list__value">@Model.TypicalDuration months</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sector</dt>
                        <dd class="govuk-summary-list__value">@Model.Sector</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Maximum funding</dt>
                        <dd class="govuk-summary-list__value">
                            @Model.MaximumFunding <br/>
                            <span class="govuk-!-font-size-16 das-text--muted">
                                Maximum amount government will fund <br/>
                                for apprenticeship training.
                            </span>
                        </dd>
                    </div>
                    @if (Model.TypicalJobTitles.Any())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Typical job title@(Model.TypicalJobTitles.Count > 1 ? "s" : "")</dt>
                            <dd class="govuk-summary-list__value">
                                <ul class="govuk-list @(Model.TypicalJobTitles.Count > 1 ? "govuk-list--bullet" : "")">
                                    @foreach (var jobTitle in Model.TypicalJobTitles)
                                    {
                                        <li>@jobTitle</li>

                                    }
                                </ul>
                            </dd>
                        </div>

                    }

                    @if (Model.CoreSkills.Any())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Skills</dt>
                            <dd class="govuk-summary-list__value">
                                <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Skills an apprentice will learn
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <ul class="govuk-list govuk-list--bullet">
                                            @foreach (var skill in Model.CoreSkills)
                                            {
                                                <li><span>@skill</span></li>

                                            }
                                        </ul>
                                    </div>
                                </details>
                            </dd>
                        </div>
                    }
                </dl>

                <p class="govuk-body-s govuk-!-margin-bottom-6">
                    Full information on <a class="govuk-link govuk-link--no-visited-state" href="@Model.ExternalCourseUrl" target="_blank" rel="external">@Model.TitleAndLevel</a> is available from the Institute for Apprenticeships and Technical Education.
                </p>
                <div class="das-highlight">
                @if (Model.TotalProvidersCount == 0)
                {
                    <h2 class="govuk-heading-l" >Training providers</h2>
                    <p class="govuk-body">There are no training providers available for this course yet.</p>
                    <p class="govuk-body">The Education and Skills Funding Agency (ESFA) can advise you what to do next.</p>
                    <p class="govuk-body">You can either:</p>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                        <li><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb#contact-us" class="govuk-link govuk-link--no-visited-state">contact ESFA</a></li>
                        <li><a asp-route="@RouteNames.Courses" class="govuk-link govuk-link--no-visited-state">search for another course</a></li>
                    </ul>
                }
                else
                {
                    
                        <h2 class="govuk-heading-l">Find training providers for this course</h2>
                        @if (Model.OtherBodyApprovalRequired)
                        {
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Regulated occupation</h3>
                            if (Model.ApprovalBody == null)
                            {
                                <p class="govuk-body">@Model.TitleAndLevel needs a training provider who is approved by the appropriate regulatory body.</p>
                            }
                            else
                            {
                                <p class="govuk-body">@Model.TitleAndLevel needs a training provider who is approved by @Model.ApprovalBody.</p>
                            }
                        }
                        
                        @if (Model.HasLocation)
                        {
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apprenticeship location</h3>
                            <p class="govuk-body"><span class="govuk-!-margin-right-2">@Model.LocationName</span> 
                                <a asp-route="@RouteNames.CourseDetails" asp-route-id="@Model.Id" asp-route-location="-1" class="govuk-link govuk-link--no-visited-state">Remove&nbsp;location</a>
                            </p>
                        
                            if (Model.ProvidersAtLocationCount == 0)
                            {
                                <p class="govuk-body das-text--error das-text--error-icon">@Model.ProvidersAtLocationCount providers available for this apprenticeship location</p>
                                if (Model.TotalProvidersCount == 1)
                                {
                                    <p class="govuk-body">One provider available for this apprenticeship location</p>
                                }
                                else
                                {
                                    <p class="govuk-body">@Model.TotalProvidersCount providers available at other locations.</p>    
                                }
                                <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.Id" asp-route-location="-1">View all providers for this course</a></p>
                            }
                            else
                            {
                                if (Model.ProvidersAtLocationCount == 1)
                                {
                                    <p class="govuk-body das-text--success das-text--success-icon">One provider available for this apprenticeship location</p>
                                }
                                else
                                {
                                    <p class="govuk-body das-text--success das-text--success-icon">@Model.ProvidersAtLocationCount providers available for this apprenticeship location</p>    
                                }
                                
                                <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.Id">View providers for this course</a></p>
                            }
                            
                        }
                        else
                        {
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apprenticeship Location</h3>
                            <p class="govuk-body">Check if a provider can offer this training for the apprenticeship location.</p>
                            <form method="GET" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.Id" class="govuk-!-width-three-quarters">
                                <div class="govuk-form-group">
                                    <label for="search-location" class="govuk-label">Enter location</label>
                                    <input type="search" id="search-location" name="location" title="Search" class="govuk-input" data-submit-on-selection="true">
                                </div>
                                <button class="govuk-button govuk-!-margin-bottom-0" id="btn-view-providers">
                                    View providers for this course
                                </button>
                            </form>
                        }
                }
                </div>
            }
            else
            {
                <span class="govuk-caption-xl">Apprenticeship training course</span>
                <h1 class="govuk-heading-xl">
                    @Model.Title <span class="das-no-wrap">(level @Model.Level)</span>
                </h1>
                <p class="govuk-body-l">This apprenticeship training course is no longer available for new starts.</p>

                <a asp-route="@RouteNames.Courses" role="button" draggable="false" class="govuk-button" data-module="govuk-button">View apprenticeship training courses</a>
            }
        </div>
    </div>
</main>