@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.CourseProviderViewModel
@{
    ViewData["Title"] = "Training provider details";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Training provider</span>
            <h1 class="govuk-heading-xl">
                @Model.Name
            </h1>

            <div class="das-highlight govuk-!-margin-bottom-5">
                <span class="govuk-caption-l">Apprenticeship training course</span>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-3">@Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span></h2>
                <p class="govuk-body govuk-!-margin-bottom-5">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CourseDetails" asp-route-id="@Model.Course.Id">Overview of @Model.Course.TitleAndLevel</a>
                </p>
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Apprenticeship location</h2>
                <p class="govuk-body">Check @Model.Name's training options for the apprenticeship location.</p>
                <form method="GET" class="das-search-form govuk-!-width-two-thirds">
                    <label for="searchTerm" class="govuk-label">
                        Enter location
                    </label>
                    <div class="das-search-form__group">
                        <input id="searchTerm" name="searchTerm" title="Search" class="govuk-input das-search-form__input" type="text">
                        <div class="das-search-form__button-wrap">
                            <button class="govuk-button das-search-form__button" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="das-highlight govuk-!-margin-bottom-5">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Contact this provider about this course</h3>

                <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email</dt>
                            <dd class="govuk-summary-list__value"><a class="govuk-link govuk-link--no-visited-state" href="mailto:@Model.Email">@Model.Email</a></dd>
                        </div>

                    }
                    @if (!string.IsNullOrEmpty(Model.Phone))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Telephone</dt>
                            <dd class="govuk-summary-list__value">@Model.Phone</dd>
                        </div>

                    }
                    @if (!string.IsNullOrEmpty(Model.Website))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website</dt>
                            <dd class="govuk-summary-list__value"><a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener" href="@Model.Website">@Model.Website</a></dd>
                        </div>

                    }

                </dl>

            </div>
            <details class="govuk-details govuk-!-margin-top-7" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text govuk-!-font-size">
                        View all @Model.AdditionalCourses.Total courses offered by this provider
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body ">Select a course to view locations, training options and contact details.</p>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            @foreach (var course in Model.AdditionalCourses.Courses)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <a class="govuk-link govuk-link--no-visited-state" 
                                           asp-route="@RouteNames.CourseProviderDetails" 
                                           asp-route-id="@course.Id" 
                                           asp-route-providerId="@Model.ProviderId">@course.Title (level @course.Level)</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </details>
        </div>
    </div>
</main>