@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Domain.Extensions
@using SFA.DAS.FAT.Domain.Courses
@model SFA.DAS.FAT.Web.Models.CourseProvidersViewModel
@{
    ViewData["Title"] = "Available training providers";
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                <span class="govuk-caption-xl">Training providers for</span>
                @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span>
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CourseDetails" asp-route-id="@Model.Course.Id">Overview of @Model.Course.TitleAndLevel</a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="das-show-hide" data-module="das-show-hide">
                <!--filters-->
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">@Model.TotalMessage</h2>
            @if (Model.Total > 1 && !string.IsNullOrEmpty(Model.Location))
            {
                @if (Model.SortOrder == ProviderSortBy.Name)
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <a id="sort-by-distance" class="govuk-link govuk-link--no-visited-state" asp-querystring="@Model.BuildSortLink()">Distance (nearest first)</a>
                        <span class="govuk-!-font-weight-bold">Name</span>
                    </p>
                }
                else
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <span class="govuk-!-font-weight-bold">Distance (nearest first)</span>
                        <a id="sort-by-name" class="govuk-link govuk-link--no-visited-state" asp-querystring="@Model.BuildSortLink()">Name</a>
                    </p>
                }
            }
            else
            {
                <p class="govuk-body govuk-!-margin-bottom-6">
                    Sorted by:
                    <span class="govuk-!-font-weight-bold">Name</span>
                </p>
            }
            
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">

            <div data-list>
                @foreach (var provider in Model.Providers)
                {
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                        <a class="govuk-link govuk-link--no-visited-state" id="provider-@provider.ProviderId" asp-route-id="@Model.Course.Id" asp-route-providerId="@provider.ProviderId" asp-route="@RouteNames.CourseProviderDetails">
                            @provider.Name
                        </a>
                    </h2>
                    <ul class="govuk-list">
                        @if (!string.IsNullOrEmpty(Model.Location))
                        {
                            <li>
                                <ul class="govuk-list das-icon-list govuk-!-font-size-16">
                                    @foreach (var mode in provider.DeliveryModes)
                                    {
                                        <li class="das-icon-list__list-item">
                                            @if (mode.IsAvailable)
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--tick">available</span>
                                            }
                                            else
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--cross">not available</span>
                                            }
                                            @mode.DeliveryModeType.GetDescription() @mode.FormattedDistanceInMiles
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (provider.OverallCohort != null)
                        {
                            <li class="govuk-!-font-size-16 govuk-!-margin-top-2">
                                <span class="govuk-!-font-size-16">@provider.OverallAchievementRatePercentage pass rate</span> 
                                <span class="das-text--muted">(out of @provider.OverallCohort apprentices)</span>
                            </li>    
                        }
                        
                    </ul>
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-3">
                }
            </div>

        </div>
    </div>
</main>
