@model SFA.DAS.FAT.Web.Models.CourseDetailViewModel

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
             <span class="govuk-caption-xl">Apprenticeship training course</span>
                    <h1 class="govuk-heading-xl" >
                        @Model.TitleAndLevel
                    </h1>
            
                    <!-- overviewOfRole -->
                    <p class="govuk-body-l">@Model.OverviewOfRole</p>
                    
                    <!-- Summary -->
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Level</dt>
                            <dd class="govuk-summary-list__value">@Model.Level</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Typical duration</dt>
                            <dd class="govuk-summary-list__value">@Model.TypicalDuration months</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Sector</dt>
                            <dd class="govuk-summary-list__value">@Model.Sector</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Maximum funding</dt>
                            <dd class="govuk-summary-list__value">
                                @Model.MaximumFunding <br><span class="govuk-!-font-size-16 govuk-secondary-colour">Maximum amount government will fund <br>for apprenticeship training.</span>
                            </dd>
                        </div>
                        @if (Model.TypicalJobTitles.Any())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Typical job title @(Model.TypicalJobTitles.Count > 1 ? "s" :"")</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list @(Model.TypicalJobTitles.Count > 1? "govuk-list--bullet" :"")">
                                        @foreach (var jobTitle in Model.TypicalJobTitles)
                                        {
                                            <li>@jobTitle</li>    
                                        }
                                    </ul>
                                </dd>
                            </div>    
                        }
                        
                        @if (Model.CoreSkills.Any())
                        {
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Skills</dt>
                            <dd class="govuk-summary-list__value">
                            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Skills an apprentice will learn
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var skill in Model.CoreSkills)
                                    {
                                        <li><span>@skill</span></li>    
                                    }
                                    </ul>
                                </div>
                                </details>
                            </dd>
                        </div>
                        }
                    </dl>
            
                    <p class="govuk-body-s govuk-!-margin-bottom-6">
                        Full information on <a class="govuk-link govuk-link--no-visited-state" href="@Model.ExternalCourseUrl" target="_blank" >@Model.Title</a> is available from the Institute for Apprenticeships and Technical Education.
                    </p>
            
            
                <div class="govuk-grid-column-one-third">
                    &nbsp;
                </div>
        </div>
    </div>
</main>