@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Domain.Extensions
@using SFA.DAS.FAT.Domain.Courses
@model SFA.DAS.FAT.Web.Models.CourseProvidersViewModel
@{
    ViewData["Title"] = "Available training providers";
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                <span class="govuk-caption-xl">Training providers for</span>
                @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span>
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CourseDetails" asp-route-id="@Model.Course.Id">Overview of @Model.Course.TitleAndLevel</a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="das-show-hide" data-module="das-show-hide">
                <div class="das-filter das-!-show--from-tablet" id="fat-filter">
                    <div class="das-filter__header">
                        <h2 class="das-filter__heading">Filter</h2>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Location))
                    {
                        var routeData = new Dictionary<string, string>
                        {
                            {"location","-1"},
                            {"id",Model.Course.Id.ToString()}
                        };
                        
                        <div class="das-filter__selected-filters">
                            <div class="das-filter__selected-header">
                                <h3 class="das-filter__selected-heading">Selected filters</h3>
                                <a class="das-filter__selected-action govuk-link govuk-link--no-visited-state" asp-all-route-data="routeData" asp-route="@RouteNames.CourseProviders">Clear</a>
                            </div>
                            <h4 class="das-filter__selected-sub-heading">Apprenticeship location</h4>
                            <a asp-route="@RouteNames.CourseProviders" asp-all-route-data="routeData" title="Clear this filter '@Model.Location'" class="das-filter__tag">&lsquo;@Model.Location&rsquo;</a>
                        </div>    
                    }
                    <div class="das-filter__body das-!-show--from-tablet" id="fat-filter-options">
                        <form method="GET" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.Course.Id">
                            <button type="submit" class="govuk-button" id="filters-submit">Apply filters</button>
                                <div class="govuk-form-group">
                                    <label for="search-location" class="govuk-label"><span class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprenticeship location</span></label>
                                    <input type="search" id="search-location" name="location" title="Search" class="govuk-input govuk-!-width-three-quarters" data-submit-on-selection="false" data-default-value="@Model.Location">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="das-highlight govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Apprenticeship location</h2>
                @if (Model.HasLocations)
                {
                    var routeData = new Dictionary<string, string>
                    {
                        {"location","-1"},
                        {"id",Model.Course.Id.ToString()}
                    };
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <span style="margin-right: 10px">@Model.Location</span>
                        <a asp-route="@RouteNames.CourseProviders" asp-all-route-data="@routeData" class="govuk-link govuk-link--no-visited-state">Remove&nbsp;location</a>
                    </p>    
                }
                else
                {
                    <p class="govuk-body govuk-!-margin-bottom-2">Show only providers who offer this training for the apprenticeship location.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="#search-location" class="govuk-link govuk-link--no-visited-state">Enter&nbsp;location</a></p>
                }
                
            </div>
            <h2 class="govuk-heading-m">@Model.TotalMessage</h2>
            @if (Model.Total > 1 && Model.HasLocations)
            {
                @if (Model.SortOrder == ProviderSortBy.Name)
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <span class="govuk-!-font-weight-bold">Name,</span>
                        <a id="sort-by-distance" class="govuk-link govuk-link--no-visited-state" asp-querystring="@Model.BuildSortLink()">Distance (nearest first)</a>
                    </p>
                }
                else
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <a id="sort-by-name" class="govuk-link govuk-link--no-visited-state" asp-querystring="@Model.BuildSortLink()">Name</a>,
                        <span class="govuk-!-font-weight-bold">Distance (nearest first)</span>
                    </p>
                }
            }
            else if (Model.Total > 1)
            {
                <p class="govuk-body govuk-!-margin-bottom-6">
                    Sorted by:
                    <span class="govuk-!-font-weight-bold">Name</span>
                </p>
            }
            else if (Model.Total == 0)
            {
                <p class="govuk-body govuk-!-margin-bottom-6">No training providers for the selected filters.</p>
            }

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">

            <div data-list>
                @foreach (var provider in Model.Providers)
                {
                    var routeData = new Dictionary<string, string>
                    {
                        {"location",Model.Location},
                        {"id",Model.Course.Id.ToString()},
                        {"providerId",provider.ProviderId.ToString()}
                    };
                    
                    
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                        <a class="govuk-link govuk-link--no-visited-state" id="provider-@provider.ProviderId" asp-all-route-data="@routeData"  asp-route="@RouteNames.CourseProviderDetails">
                            @provider.Name
                        </a>
                    </h2>
                    <ul class="govuk-list">

                        @if (Model.HasLocations)
                        {
                            <li>
                                <ul class="govuk-list das-icon-list govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-2">
                                    @foreach (var mode in provider.DeliveryModes)
                                    {
                                        <li class="das-icon-list__list-item">
                                            @if (mode.IsAvailable)
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--tick">available</span>
                                            }
                                            else
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--cross">not available</span>
                                            }
                                            @mode.DeliveryModeType.GetDescription() @mode.FormattedDistanceInMiles
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (provider.OverallCohort != null)
                        {
                            <li class="govuk-!-font-size-16 govuk-!-margin-top-2">
                                <span class="govuk-!-font-size-16">@provider.OverallAchievementRatePercentage pass rate</span>
                                <span class="das-text--muted">(out of @provider.OverallCohort apprentices)</span>
                            </li>
                        }

                    </ul>
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-3">
                }
            </div>

        </div>
    </div>
</main>
