@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Domain.Extensions
@using SFA.DAS.FAT.Web.Models
@using DeliveryModeType = SFA.DAS.FAT.Web.Models.DeliveryModeType

@model SFA.DAS.FAT.Web.Models.CourseProvidersViewModel

@{
    ViewData["Title"] = $"Training providers for {Model.Course.TitleAndLevel}";
    ViewData["Description"] = $"Compare training providers who offer apprenticeship training for {Model.Course.TitleAndLevel}. You can check their available training options, employer reviews and pass rates.";
    ViewData[nameof(BreadCrumbViewModel)] = new BreadCrumbViewModel
    {
        Level = BreadCrumbLevel.CourseProvidersList, 
        CourseId = Model.Course.Id.ToString(),
        CourseDescription = Model.Course.TitleAndLevel
    };
}
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Training providers for</span>
                @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span>
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="das-show-hide" data-module="das-show-hide">
                <div class="das-filter das-!-show--from-tablet" id="fat-filter">
                    <div class="das-filter__header">
                        <h2 class="das-filter__heading">Filter</h2>
                    </div>
                    @if (Model.ShowSelectedFilters)
                    {
                        var routeData = new Dictionary<string, string>
                        {
                            {"location","-1"},
                            {"id",Model.Course.Id.ToString()},
                        };

                        <div class="das-filter__selected-filters">
                            <div class="das-filter__selected-header">
                                <h3 class="das-filter__selected-heading">Selected filters</h3>
                                <a class="das-filter__selected-action govuk-link govuk-link--no-visited-state" asp-all-route-data="routeData" asp-route="@RouteNames.CourseProviders">Clear</a>
                            </div>
                            @if (Model.HasLocation)
                            {
                                <h4 class="das-filter__selected-sub-heading">Apprenticeship location</h4>
                                <a asp-querystring="@Model.ClearLocationLink" title="Clear this filter @Model.Location" class="das-filter__tag">@Model.Location</a>
                            }
                            @if (Model.HasDeliveryModes)
                            {
                                <h4 class="das-filter__selected-sub-heading">Training options</h4>
                                @foreach (var deliveryModeLink in Model.ClearDeliveryModeLinks)
                                {
                                    <a class="das-filter__tag" asp-querystring="@deliveryModeLink.Value" title="Clear this level filter @deliveryModeLink.Key">@deliveryModeLink.Key</a>
                                }
                            }

                            @if (Model.HasProviderRatings)
                            {
                                <h4 class="das-filter__selected-sub-heading">Average employer review</h4>
                                @foreach (var providerRatingLink in Model.ClearProviderRatingLinks)
                                {
                                    <a class="das-filter__tag" asp-querystring="@providerRatingLink.Value" title="Clear this level filter @providerRatingLink.Key">@providerRatingLink.Key</a>
                                }
                            }

                        </div>
                    }
                    <div class="das-filter__body das-!-show--from-tablet" id="fat-filter-options">
                        <form method="GET" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.Course.Id">
                            <button type="submit" class="govuk-button" id="filters-submit">Apply filters</button>
                            <div class="govuk-form-group">
                                <label for="search-location" class="govuk-label"><span class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprenticeship location</span>
                                    <p class="govuk-hint">Enter a town, city or postcode</p>
                                    </label>
                                <input type="search" id="search-location" name="location" title="Search" class="govuk-input govuk-!-width-three-quarters" data-submit-on-selection="true" data-default-value="@Model.Location">
                            </div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            Training options
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small">
                                            @foreach (var mode in Model.DeliveryModes.Where(c=>c.DeliveryModeType!=DeliveryModeType.National))
                                            {
                                                
                                                <div class="govuk-checkboxes__item">
                                                    <input @(mode.Selected ? "checked='checked" : "") class="govuk-checkboxes__input" id="deliveryMode-@mode.DeliveryModeType" name="deliveryModes" type="checkbox" value="@mode.DeliveryModeType"/>
                                                    <label class="govuk-label govuk-checkboxes__label" for="deliveryMode-@mode.DeliveryModeType">
                                                        @mode.Description
                                                    </label>
                                                </div>
                                                if (mode.DeliveryModeType == DeliveryModeType.Workplace)
                                                {
                                                    <div class="govuk-checkboxes__conditional">
                                                        @{
                                                              var nationalDeliveryMode = Model.DeliveryModes.SingleOrDefault(c => c.DeliveryModeType == DeliveryModeType.National);
                                                        }
                                                        <div class="govuk-form-group">
                                                            <div class="govuk-checkboxes__item">
                                                                <input @(nationalDeliveryMode.Selected ? "checked='checked" : "") class="govuk-checkboxes__input" id="deliveryMode-@nationalDeliveryMode.DeliveryModeType" name="deliveryModes" type="checkbox" value="@nationalDeliveryMode.DeliveryModeType">
                                                                <label class="govuk-label govuk-checkboxes__label" for="deliveryMode-@nationalDeliveryMode.DeliveryModeType">
                                                                    @nationalDeliveryMode.Description
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </fieldset>
                                </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        Average employer review
                                    </legend>
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        @foreach (var providerRating in Model.ProviderRatings.OrderByDescending(c=>(int)c.ProviderRatingType) )
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input @(providerRating.Selected ? "checked='checked" : "") class="govuk-checkboxes__input" id="providerRating-@providerRating.ProviderRatingType" name="providerRatings" type="checkbox" value="@providerRating.ProviderRatingType" />
                                                <label class="govuk-label govuk-checkboxes__label" for="providerRating-@providerRating.ProviderRatingType">
                                                    @providerRating.Description
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                             <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
                        </form>
                    </div>
                </div>
                <button class="govuk-button das-filter__toggle das-show-hide__button das-!-show--mobile" data-aria-controls="fat-filter@(Model.ShowSelectedFilters ? "-options" : "")" data-button-string="filter @(Model.ShowSelectedFilters ? " options" : "")" >Show/hide</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            
            <h2 class="govuk-heading-m">@Model.TotalMessage</h2>
            
            @if (Model.Total == 0)
            {
                <p class="govuk-body govuk-!-margin-bottom-6">No training providers for the selected filters.</p>
            }

            <div class="das-highlight govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Apprenticeship location</h2>
                @if (Model.HasLocation)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <span class="govuk-!-margin-right-2">@Model.Location</span>
                        <a asp-querystring="@Model.ClearLocationLink" class="govuk-link govuk-link--no-visited-state" id="lnk-remove-location">Remove&nbsp;location</a>
                    </p>    
                }
                else
                {
                    <p class="govuk-body govuk-!-margin-bottom-2">Only show providers who offer this training for the apprenticeship location.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0" data-module="das-show-hide">
                        <a href="#search-location" 
                            class="govuk-link govuk-link--no-visited-state das-show-hide__show-link" 
                            data-aria-controls="fat-filter@(Model.ShowSelectedFilters ? "-options" : "")" 
                            id="lnk-enter-location" 
                            data-focus-id="search-location"
                            data-scroll-to-target="#fat-filter"
                            >Enter&nbsp;location</a>
                    </p>
                }
                
            </div>
            
            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="das-search-results">
                <ol class="das-search-results__list">

                @foreach (var provider in Model.Providers)
                {
                    var routeData = new Dictionary<string, string>
                    {
                        {"location",Model.Location},
                        {"id",Model.Course.Id.ToString()},
                        {"providerId",provider.ProviderId.ToString()},
                        {"data", Model.ProviderOrder[provider.ProviderId]}
                    };

                    var shortlistRouteData = new Dictionary<string, string>
                    {
                        {"id",Model.Course.Id.ToString()},
                        {"providerId",provider.ProviderId.ToString()}
                    };
                    
                    <li class="das-search-results__list-item">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h2 class="govuk-heading-m das-search-results__heading">
                                    <a class="das-search-results__link" id="provider-@provider.ProviderId" asp-all-route-data="@routeData"  asp-route="@RouteNames.CourseProviderDetails">
                                        @provider.Name
                                    </a>
                                </h2>
                                <ul class="govuk-list das-icon-list govuk-!-font-size-16 govuk-!-margin-0">
                                    @if(!string.IsNullOrEmpty(provider.TradingName))
                                    {
                                        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">
                                            <span class="das-text--muted">Other names:</span> @provider.TradingName
                                        </li>
                                    }
                                    @foreach (var mode in provider.DeliveryModes)
                                    {
                                        <li class="das-icon-list__list-item" id="@provider.ProviderId-@mode.DeliveryModeType">
                                            @if (mode.IsAvailable)
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--tick">available</span>
                                            }
                                            else
                                            {
                                                <span class="das-icon-list__icon das-icon-list__icon--cross">not available</span>
                                            }
                                            @mode.DeliveryModeType.GetDescription() @(Model.HasLocation ? mode.FormattedDistanceInMiles : "") @mode.NationalText
                                        </li>
                                    }
                                </ul>
                                
                                <p class="govuk-!-margin-0 govuk-!-margin-top-2 govuk-!-font-size-16">
                                    @if (provider.TotalFeedbackRating != 0)
                                    {
                                        <span class="das-rating das-rating--@(provider.TotalFeedbackRating > 2 ? "good" : "poor")" role="img" aria-label="Rating: @provider.TotalFeedbackRating out of 4 stars">
                                            <span aria-hidden="true" class="das-rating__icon-star"></span>
                                            <span aria-hidden="true" class="das-rating__icon-star@(provider.TotalFeedbackRating < 2 ? "--empty" : "")"></span>
                                            <span aria-hidden="true" class="das-rating__icon-star@(provider.TotalFeedbackRating < 3 ? "--empty" : "")"></span>
                                            <span aria-hidden="true" class="das-rating__icon-star@(provider.TotalFeedbackRating < 4 ? "--empty" : "")"></span>
                                        </span>    
                                        <span class="das-rating__label--@(provider.TotalFeedbackRating > 2 ? "good" : "poor")">@provider.TotalFeedbackText.GetDescription()</span>
                                    }
                                    <span class="das-text--muted">@provider.TotalFeedbackRatingText</span>         
                                </p>
                                @if (provider.OverallCohort != null)
                                {
                                    <p class="govuk-!-margin-0 govuk-!-margin-top-2 govuk-!-font-size-16">
                                        @provider.OverallAchievementRatePercentage pass rate
                                        <span class="das-text--muted">(out of @provider.OverallCohort apprentices)</span>
                                    </p>
                                }
                            </div>
                            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet govuk-body">
                                <div>
                                    <form method="post" asp-route="@RouteNames.CreateShortlistItem" asp-all-route-data="@shortlistRouteData">
                                        <input type="hidden" name="sectorSubjectArea" value="@Model.Course.Sector"/>
                                        <input type="hidden" name="routeName" value="@RouteNames.CourseProviders"/>
                                        <button class="das-button--inline-link" type="submit">Add to shortlist</button>
                                    </form>    
                                </div>
                                <div>
                                    <strong class="govuk-tag">Shortlisted</strong><br>
                                    <form method="post" asp-route="@RouteNames.DeleteShortlistItem" asp-route-id="FF8B190F-D3C0-4C4C-B1C1-B406D390C6E0">
                                        <input type="hidden" name="ukprn" value="@provider.ProviderId"/>
                                        <input type="hidden" name="trainingCode" value="@Model.Course.Id"/>
                                        <input type="hidden" name="routeName" value="@RouteNames.CourseProviders"/>
                                        <button class="das-button--inline-link" type="submit">Remove from shortlist</button>
                                    </form>    
                                </div>
                            </div>
                        </div>
                    </li>
                }
                </ol>
            </div>

        </div>
    </div>
</main>
