@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.ShortlistViewModel
@{
    ViewData["Title"] = "Shortlist";
    ViewData["Description"] = "View the apprenticeship training providers that you’ve shortlisted.";
}
<div class="das-js-back-link-or-home">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.ServiceStartDefault">Home</a>
            </li>
        </ol>
    </div>
</div>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Shortlisted training providers
            </h1>
        </div>
    </div>
    @if (Model.Shortlist.Count == 0)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">You have 0 training providers shortlisted.</p>
                <p class="govuk-body"><a class="govuk-button" asp-route="@RouteNames.Courses">View apprenticeship training courses</a></p>
            </div>
        </div>
    }
    else
    {
        foreach (var courseTitleGroup in Model.Shortlist.OrderBy(model => model.Course.TitleAndLevel).GroupBy(model => model.Course.Title))
        {
            foreach (var courseLevelGroup in courseTitleGroup.GroupBy(model => model.Course.Level))
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">@courseTitleGroup.Key <span class="das-no-wrap">(level @courseLevelGroup.Key)</span></h2>

                        @foreach (var locationGroup in courseLevelGroup.OrderBy(model => model.LocationDescription).GroupBy(model => model.LocationDescription))
                        {
                            @if (!string.IsNullOrEmpty(locationGroup.Key))
                            {
                                <h2 class="govuk-heading-m govuk-!-font-weight-regular">@locationGroup.Key</h2>
                            }
                            @if (Model.IsOneTable)
                            {
                                <partial name="_ShortlistTable" model="@locationGroup.ToList()"/>
                                <p class="govuk-body govuk-!-margin-bottom-6">
                                    <a asp-route="@RouteNames.CourseProviders" 
                                       asp-route-id="@locationGroup.FirstOrDefault()?.Course?.Id" 
                                       asp-route-location="@locationGroup.Key" 
                                       class="govuk-link govuk-link--no-visited-state">Add more training providers</a>
                                </p>
                            }
                            else
                            {
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            View @locationGroup.Count() training providers
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <partial name="_ShortlistTable" model="@locationGroup.ToList()"/>
                                        <p class="govuk-body govuk-!-margin-bottom-6">
                                            <a asp-route="@RouteNames.CourseProviders" 
                                               asp-route-id="@locationGroup.FirstOrDefault()?.Course?.Id" 
                                               asp-route-location="@locationGroup.Key" 
                                               class="govuk-link govuk-link--no-visited-state">Add more training providers</a>
                                        </p>
                                    </div>
                                </details>
                            }
                        }
                    </div>
                </div>
            }
        }
    }

</main>